@charset "UTF-8";
button {
    font-size: 200%;
}
  
.outer{
    display: table;
    width: 100%;
}
.inner{
    display: table-cell;
    vertical-align: middle;
}
h2 {
    color : red;
}
